system/system/app/FunModeSDK/FunModeSDK.apk
system/system/apex/com.android.vndk.current.apex
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/priv-app/LiveStickers/LiveStickers.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
.git/objects/pack/pack-b616f98df47033a2b8922fc148e85478b1c2ddc2.pack
product/priv-app/Velvet/Velvet.apk
